@charset "UTF-8";

/* line 9, ../sass/access-unpublished.scss */
html:lang(en) body.anonymous.published-no main div.region-content div.content::before,
html:lang(en) body.viewer.published-no main div.region-content div.content::before {
  content: "Draft Version";
}

/* line 14, ../sass/access-unpublished.scss */
html:lang(fr) body.anonymous.published-no main div.region-content div.content::before,
html:lang(fr) body.viewer.published-no main div.region-content div.content::before {
  content: "En brouillon";
}

/* line 19, ../sass/access-unpublished.scss */
html:lang(en) body.anonymous.published-no main div.region-content div.content::before,
html:lang(fr) body.anonymous.published-no main div.region-content div.content::before,
html:lang(en) body.viewer.published-no main div.region-content div.content::before,
html:lang(fr) body.viewer.published-no main div.region-content div.content::before {
  margin-left: 3em;
  margin-top: 2.5em;
  position: fixed;
  transform: rotate(-45deg);
  color: #ccc;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  font-size: 400%;
  opacity: 0.6;
  z-index: 6;
  font-weight: bold;
  text-shadow: 2px 2px #666;
}

/* line 40, ../sass/access-unpublished.scss */
html:lang(en) body.anonymous.pending-draft main div.region-content div.content::before,
html:lang(en) body.viewer.pending-draft main div.region-content div.content::before {
  content: "Pending Draft";
}

/* line 45, ../sass/access-unpublished.scss */
html:lang(fr) body.anonymous.pending-draft main div.region-content div.content::before,
html:lang(fr) body.viewer.pending-draft main div.region-content div.content::before {
  content: "Brouillon en attente";
}

/* line 50, ../sass/access-unpublished.scss */
html:lang(en) body.anonymous.pending-draft main div.region-content div.content::before,
html:lang(fr) body.anonymous.pending-draft main div.region-content div.content::before,
html:lang(en) body.viewer.pending-draft main div.region-content div.content::before,
html:lang(fr) body.viewer.pending-draft main div.region-content div.content::before {
  margin-left: 3em;
  margin-top: 2.5em;
  position: fixed;
  transform: rotate(-45deg);
  color: #ccc;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  font-size: 400%;
  opacity: 0.6;
  z-index: 6;
  font-weight: bold;
  text-shadow: 2px 2px #666;
}

/* line 70, ../sass/access-unpublished.scss */
html:lang(en) body.anonymous.published-no-is-archived main div.region-content div.content::before,
html:lang(en) body.viewer.published-no-is-archived main div.region-content div.content::before {
  content: "Archived Version";
}

/* line 75, ../sass/access-unpublished.scss */
html:lang(fr) body.anonymous.published-no-is-archived main div.region-content div.content::before,
html:lang(fr) body.viewer.published-no-is-archived main div.region-content div.content::before {
  content: "Version archivée";
}

/* line 80, ../sass/access-unpublished.scss */
html:lang(en) body.anonymous.published-no-is-archived main div.region-content div.content::before,
html:lang(fr) body.anonymous.published-no-is-archived main div.region-content div.content::before,
html:lang(en) body.viewer.published-no-is-archived main div.region-content div.content::before,
html:lang(fr) body.viewer.published-no-is-archived main div.region-content div.content::before {
  margin-left: 3em;
  margin-top: 2.5em;
  position: fixed;
  transform: rotate(-45deg);
  color: #ccc;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  font-size: 400%;
  opacity: 0.6;
  z-index: 6;
  font-weight: bold;
  text-shadow: 2px 2px #666;
}
