
.access-unpublished-pass div.content div.field--type-text-with-summary,
.access-unpublished-pass div.content div.field--name-body,
.access-unpublished-pass .block-layout-builder.block-field-blocknodepagebody,
.access-unpublished-pass .block-layout-builder.block-field-blocknodelanding-pagebody {
  // display: none;
}

html:lang(en) body.anonymous.published-no main div.region-content div.content::before,
html:lang(en) body.viewer.published-no main div.region-content div.content::before {
  content: "Draft Version";
}

html:lang(fr) body.anonymous.published-no main div.region-content div.content::before,
html:lang(fr) body.viewer.published-no main div.region-content div.content::before {
    content: "En brouillon";
}

html:lang(en) body.anonymous.published-no main div.region-content div.content::before,
html:lang(fr) body.anonymous.published-no main div.region-content div.content::before,
html:lang(en) body.viewer.published-no main div.region-content div.content::before,
html:lang(fr) body.viewer.published-no main div.region-content div.content::before {
  margin-left: 3em;
  margin-top: 2.5em;
  position: fixed;
  transform: rotate(-45deg);
  color: #CCC;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  font-size: 400%;
  opacity: 0.6;
  z-index: 6;
  font-weight: bold;
  text-shadow: 2px 2px #666;
} 

html:lang(en) body.anonymous.pending-draft main div.region-content div.content::before,
html:lang(en) body.viewer.pending-draft main div.region-content div.content::before {
    content: "Pending Draft";
}

html:lang(fr) body.anonymous.pending-draft main div.region-content div.content::before,
html:lang(fr) body.viewer.pending-draft main div.region-content div.content::before {
  content: "Brouillon en attente";
}

html:lang(en) body.anonymous.pending-draft main div.region-content div.content::before,
html:lang(fr) body.anonymous.pending-draft main div.region-content div.content::before,
html:lang(en) body.viewer.pending-draft main div.region-content div.content::before,
html:lang(fr) body.viewer.pending-draft main div.region-content div.content::before {
  margin-left: 3em;
  margin-top: 2.5em;
  position: fixed;
  transform: rotate(-45deg);
  color: #CCC;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  font-size: 400%;
  opacity: 0.6;
  z-index: 6;
  font-weight: bold;
  text-shadow: 2px 2px #666;
}

html:lang(en) body.anonymous.published-no-is-archived main div.region-content div.content::before,
html:lang(en) body.viewer.published-no-is-archived main div.region-content div.content::before {
  content: "Archived Version";
}

html:lang(fr) body.anonymous.published-no-is-archived main div.region-content div.content::before,
html:lang(fr) body.viewer.published-no-is-archived main div.region-content div.content::before {
    content: "Version archivée";
}

html:lang(en) body.anonymous.published-no-is-archived main div.region-content div.content::before,
html:lang(fr) body.anonymous.published-no-is-archived main div.region-content div.content::before,
html:lang(en) body.viewer.published-no-is-archived main div.region-content div.content::before,
html:lang(fr) body.viewer.published-no-is-archived main div.region-content div.content::before {
  margin-left: 3em;
  margin-top: 2.5em;
  position: fixed;
  transform: rotate(-45deg);
  color: #CCC;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  font-size: 400%;
  opacity: 0.6;
  z-index: 6;
  font-weight: bold;
  text-shadow: 2px 2px #666;
} 

